body {
display: block;
}

.title-container {
	display: block;
	text-align: center;
	margin: 10px;
}

.button-container {
	text-align: center;
	margin: 10px;
	border: 4px solid #33ff33;
	border-radius: 15px;
	margin-right: 35%;
	margin-left: 35%;
}

#buttons {
	text-decoration: none;
	border: none;
	padding: 20px;
	margin-bottom: 35px;
	background-color: #33ff33;

}

#buttons:hover {
	background-color: #80ff80;
}

p {
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
   
h1, h3 {
	font-family: 'Roboto Condensed', sans-serif; 
}